@using Planner.Model
@inject HttpClient Http
@inject NavigationManager NavigationManager   
@page "/CreateTodo"
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="Create todo">
    <div class="create todo title">
    <h3>Создать задачу</h3>
    </div>
    <div class="Create Todo table">
        <EditForm Model="@Planner" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InValidSubmit">
            <div class="create todo form">
                <div class="todo item">
                    <MudItem xs="12" sm="6" md="8">
                        <MudTextField @bind-Value="Planner.Title"
                                      Label="Заголовок"
                                      Required="true"
                                      RequiredError="Введите заголовок"
                                      Variant="Variant.Outlined"
                                      maxlength="30"></MudTextField>
                    </MudItem>
                </div>
                <div class="todo item">
                    <MudItem xs="12" sm="6" md="8">
                        <MudTextField @bind-Value="Planner.Description"
                                      Label="Описание"
                                      Required="true"
                                      RequiredError="Введите описание"
                                      Variant="Variant.Outlined"
                                      maxlength="50"></MudTextField>
                    </MudItem>
                </div>
                <div class="todo item">
                    <div class="todo date pickers">
                        <MatDatePicker @bind-Value="Planner.startTodo"
                                       Label="Начальная дата"
                                       Required="true"
                                       TValue="DateTime"
                                       FullWidth="false"
                                       EnableTime="true"
                                       Minimum="@DateTime.Now.AddDays(-1)"
                                       Maximum="@DateTime.Now.AddDays(1000)" />
                    </div>
                    <div class="todo date pickers">
                        <MatDatePicker @bind-Value="Planner.dueTodo"
                                       Label="Конечная дата"
                                       Required="true"
                                       TValue="DateTime"
                                       FullWidth="false"
                                       EnableTime="true"
                                       Minimum="@DateTime.Now.AddDays(-1)"
                                       Maximum="@DateTime.Now.AddDays(1000)" />
                    </div>
                </div>
                <div class="todo item">

                </div>
                <div class="create todo save">
                    <button type="submit" class="btn btn-success" style="font-size: 20px;">Добавить</button>
                </div>
                
            </div>
        </EditForm>
    </div>
</div>

<style>
    .create.todo.title{
        margin-bottom: 20px;
    }

    .todo.item {
        margin: 15px;
    }

    .todo.date.pickers {
        display: -webkit-inline-box;
        padding-right: 10px;
    }

    .create.todo.save{
        margin:15px;
    }
</style>

@code {
    PlannerModel Planner = new PlannerModel();


    protected async Task ValidSubmit() {
        var result = await Http.PostAsJsonAsync("https://localhost:5001/api/DataPlanners/create", Planner);
        NavigationManager.NavigateTo("");
    }

    protected void InValidSubmit() {
    }

}
